.app__header{
  background: var(--color-black);
  display: flex;
  flex: wrap;

}
.app__header-h1{
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 90px;
}
.app__header-img img{
  width: 100%;
  max-width: 600px;
  height: auto;
}
.last-link{
  position: absolute;
  bottom: -280px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  
  flex-direction:column;
}
.last-link-div{
  height: 61px;
  width: 1px;
  background: var(--color-golden);
}
.last-link a{ 
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-golden);
}

@media screen and (max-width: 768px) {
  .app__header-h1{
    font-size: 48px;
  }
  .custom__button{
    width: 100%;
    padding: 1em;
  }
  .app__header-img img{
    width: 90%;
  }
  .last-link{
    bottom: -130px;
    right: 25px;
  }
  .last-link-div{
    height: 41px;
  }
  .last-link a{ 
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .last-link{
    bottom: 0;    
  }
  .last-link-div{
    height: 50px;
  }
  .last-link a{ 
    font-size: 10px;
    line-height: 20px;
  }
}


@media screen and (max-width: 480px) {
  .app__header-h1{
    font-size: 36px;
    text-align: left;
  }
  .p__opensans{
    font-size: 14px;
  }
  .last-link{
    bottom: -230px;    
  }
  .last-link-div{
    height: 30px;
  }
  .last-link a{ 
    font-size: 10px;
    line-height: 2px;
  }
}
